body {
  background-color: grey;
}

.clock {
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
  position: relative;
  height: 200px;
  width: 200px;
}

.hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid goldenrod;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.hour {
  background-color: black;
  height: 45%;
  width: 1px;
}

.minute {
  background-color: black;
  height: 45%;
  width: 1px;
}

.second {
  background-color: red;
  height: 45%;
  width: 1px;
}

.number {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  transform: rotate(var(--rotation));
}

.number1{--rotation: 30deg;}
.number2{--rotation: 60deg;}
.number3{--rotation: 90deg;}
.number4{--rotation: 120deg;}
.number5{--rotation: 150deg;}
.number6{--rotation: 180deg;}
.number7{--rotation: 210deg;}
.number8{--rotation: 240deg;}
.number9{--rotation: 270deg;}
.number10{--rotation: 300deg;}
.number11{--rotation: 330deg;}
.number12{--rotation: 360deg;}